$deep-space: #1f2331;
$space: #2a3043;
$shuttle: #676b7a;
$dodger-blue: #3d91ff;
$indigo: #64a7ff;
$sky: #8bbdff;
$shamrock: #3ecf8e;
$bermuda: #65d9a5;
$algae-green: #9fe7c7;
$shark: #1d2429;
$oslo-gray: #849095;
$tower-gray: #aeb9bf;
$spring: #40a413;
$apple: #66b642;
$mantis: #dfecde;
$persian-red: #cf2c34;
$roman: #d9565d;
$blush: #f8dfe0;
$bronze: #867048;
$gold: #ffce73;
$cream: #fff8ea;
$dark: #e0e4ec;
$light: #eff2f7;
$white: #ffffff;
$light-gray: #f8f8f8;
$border-color: #cdd3d7;
